Přílohy - MTP - Vizualizace a zpracování dat v IOT/MTP - Vizualizace a zpracování dat v IOT - Node-RED.json
[
    {
        "id": "bfb6a23ccea6509c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "const { teplota, vlhkost, tlak, nadmorska_vyska } = msg.payload;\r\n\r\nmsg.payload = {\r\n    teplota: {\r\n        aktual: teplota\r\n    },\r\n    vlhkost: {\r\n        aktual: vlhkost\r\n    },\r\n    tlak: {\r\n        aktual: tlak\r\n    },\r\n    nadmorska_vyska: {\r\n        aktual: nadmorska_vyska\r\n    }\r\n};\r\n\r\nreturn msg;\r\n",
        "env": []
    },
    {
        "id": "2011ba1e0c5268ae",
        "type": "mqtt in",
        "z": "bfb6a23ccea6509c",
        "name": "",
        "topic": "mereni",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6dc85d8f6d9cf81f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "4ebe8fadc72dbf3a"
            ]
        ]
    },
    {
        "id": "4ebe8fadc72dbf3a",
        "type": "function",
        "z": "bfb6a23ccea6509c",
        "name": "Meteo-data",
        "func": "  //Přístup k datům z datové části zprávy\n  const { teplota, vlhkost, tlak, nadmorska_vyska, nazev_zarizeni, nazev_wifi } = msg.payload;\n\n  // Message payload\n  msg.payload = {\n    teplota: { aktual: teplota },\n    vlhkost: { aktual: vlhkost },\n    tlak: { aktual: tlak },\n    nvyska: { aktual: nadmorska_vyska },\n    nazevazrizeni: { aktual: nazev_zarizeni},\n    ssid: {aktual: nazev_wifi}\n  };\n\n  //Vrácení modifikované zprávy\n  return msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "d70d580af5cd4cd8",
                "0ab8e59e77633cc3",
                "d0950ffd55291ab8",
                "dd53dfaf4a6dcf5f",
                "119eaf537a660aed",
                "cab275d314e69fd8",
                "263b3dd35652cd2e",
                "42b67ef8aab186b8",
                "bfd240e5ecefc88d"
            ]
        ]
    },
    {
        "id": "7928e2b17205e122",
        "type": "debug",
        "z": "bfb6a23ccea6509c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "d70d580af5cd4cd8",
        "type": "ui_gauge",
        "z": "bfb6a23ccea6509c",
        "name": "Teplota Gauge",
        "group": "1eac0460b36f9911",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "",
        "label": "°C",
        "format": "{{msg.payload.teplota.aktual}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "0ab8e59e77633cc3",
        "type": "ui_gauge",
        "z": "bfb6a23ccea6509c",
        "name": "Vlhkost Gauge",
        "group": "58e1126c8aa4e87e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{msg.payload.vlhkost.aktual}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 920,
        "y": 220,
        "wires": []
    },
    {
        "id": "d0950ffd55291ab8",
        "type": "ui_gauge",
        "z": "bfb6a23ccea6509c",
        "name": "Barometrický Tlak Gauge",
        "group": "efb199d220f66681",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "hPa",
        "format": "{{msg.payload.tlak.aktual}}",
        "min": "0",
        "max": "1500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "dd53dfaf4a6dcf5f",
        "type": "ui_gauge",
        "z": "bfb6a23ccea6509c",
        "name": "Nadmořská výška Gauge",
        "group": "58f6a3d7e16349e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "m n. m.",
        "format": "{{msg.payload.nvyska.aktual}}",
        "min": 0,
        "max": "600",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "2d48b84c19e01854",
        "type": "ui_chart",
        "z": "bfb6a23ccea6509c",
        "name": "Teplota Chart",
        "group": "1eac0460b36f9911",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c0edc0",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d66666",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 920,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "119eaf537a660aed",
        "type": "function",
        "z": "bfb6a23ccea6509c",
        "name": "Meteo-data",
        "func": "// Získej hodnotu \"teplota\" zmessage payload\nconst teplotaString = msg.payload.teplota.aktual;\n\n// Převeď textovou hodnotu na číslo\nconst teplotaNumber = parseFloat(teplotaString);\n\n// Vytvoř novou message payload s s hodnotou teplota jako číslem\nmsg.payload = teplotaNumber;\n\n// Vrať upravenou zprávu\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 380,
        "wires": [
            [
                "2d48b84c19e01854"
            ]
        ]
    },
    {
        "id": "cab275d314e69fd8",
        "type": "function",
        "z": "bfb6a23ccea6509c",
        "name": "Meteo-data",
        "func": "// Získej hodnotu \"vlhkost\" zmessage payload\nconst vlhkostString = msg.payload.vlhkost.aktual;\n\n// Převeď textovou hodnotu na číslo\nconst vlhkostNumber = parseFloat(vlhkostString);\n\n// Vytvoř novou message payload s hodnotou vlhkost jako číslem\nmsg.payload = vlhkostNumber;\n\n// Vrať upravenou zprávu\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 420,
        "wires": [
            [
                "105deb2a7b114099"
            ]
        ]
    },
    {
        "id": "105deb2a7b114099",
        "type": "ui_chart",
        "z": "bfb6a23ccea6509c",
        "name": "Vlhkost Chart",
        "group": "58e1126c8aa4e87e",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c0edc0",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#78ca68",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 920,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "263b3dd35652cd2e",
        "type": "function",
        "z": "bfb6a23ccea6509c",
        "name": "Meteo-data",
        "func": "// Získej hodnotu \"tlak\" zmessage payload\nconst tlakString = msg.payload.tlak.aktual;\n\n// Převeď textovou hodnotu na číslo\nconst tlakNumber = parseFloat(tlakString);\n\n// Vytvoř novou message payload s hodnotou tlak jako číslem\nmsg.payload = tlakNumber;\n\n// Vrať upravenou zprávu\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 460,
        "wires": [
            [
                "3d7d9d59a4a921a9"
            ]
        ]
    },
    {
        "id": "3d7d9d59a4a921a9",
        "type": "ui_chart",
        "z": "bfb6a23ccea6509c",
        "name": "Barometrický Tlak Chart",
        "group": "efb199d220f66681",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#c0edc0",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 950,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "42b67ef8aab186b8",
        "type": "ui_text",
        "z": "bfb6a23ccea6509c",
        "group": "ae7c7b33611b1976",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Název zařízení",
        "label": "Název zařízení:",
        "format": "{{msg.payload.nazevazrizeni.aktual}}",
        "layout": "col-center",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "bfd240e5ecefc88d",
        "type": "ui_text",
        "z": "bfb6a23ccea6509c",
        "group": "ae7c7b33611b1976",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Název SSID",
        "label": "Název SSID:",
        "format": "{{msg.payload.ssid.aktual}}",
        "layout": "col-center",
        "x": 910,
        "y": 60,
        "wires": []
    },
    {
        "id": "897db7437a9cadc6",
        "type": "ui_spacer",
        "z": "bfb6a23ccea6509c",
        "name": "spacer",
        "group": "ae7c7b33611b1976",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "e3c0e15106b0a76c",
        "type": "ui_spacer",
        "z": "bfb6a23ccea6509c",
        "name": "spacer",
        "group": "ae7c7b33611b1976",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "a0fc87292fb7a9c8",
        "type": "ui_spacer",
        "z": "bfb6a23ccea6509c",
        "name": "spacer",
        "group": "ae7c7b33611b1976",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "c4d48028c6d3e23e",
        "type": "ui_spacer",
        "z": "bfb6a23ccea6509c",
        "name": "spacer",
        "group": "ae7c7b33611b1976",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "52adb2292d90bcfb",
        "type": "ui_spacer",
        "z": "bfb6a23ccea6509c",
        "name": "spacer",
        "group": "8b18bdc650975d24",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d1b9d749159ff3ab",
        "type": "ui_spacer",
        "z": "bfb6a23ccea6509c",
        "name": "spacer",
        "group": "ae7c7b33611b1976",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "a5fdc9054e21faed",
        "type": "ui_spacer",
        "z": "bfb6a23ccea6509c",
        "name": "spacer",
        "group": "ae7c7b33611b1976",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "6dc85d8f6d9cf81f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1eac0460b36f9911",
        "type": "ui_group",
        "name": "Aktuální teplota",
        "tab": "14f3af68b0905c37",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58e1126c8aa4e87e",
        "type": "ui_group",
        "name": "Aktuální vlhkost",
        "tab": "14f3af68b0905c37",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "efb199d220f66681",
        "type": "ui_group",
        "name": "Aktuální barometrický tlak",
        "tab": "14f3af68b0905c37",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58f6a3d7e16349e4",
        "type": "ui_group",
        "name": "Aktuální nadmořská výška",
        "tab": "14f3af68b0905c37",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ae7c7b33611b1976",
        "type": "ui_group",
        "name": "Informace zařízení",
        "tab": "14f3af68b0905c37",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": true
    },
    {
        "id": "14f3af68b0905c37",
        "type": "ui_tab",
        "name": "MTP - Vizualizace a zpracování dat v IOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]